p.logotip {font-family:Times New Roman;
font-size:20px;
color:#ffffff;
font-weight:bold;
text-align:center}
.menu {
font-family:Times New Roman;
font-size:10px;
color:#ffffff;
font-weight:bold;
text-align:center
}